aiohttp==3.7.3
appdirs==1.4.4
arrow==0.17.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cookiecutter==1.7.2
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.0
cssselect==1.1.0
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.1
Django==2.2.5
django-allauth==0.44.0
django-ckeditor==6.0.0
django-cors-headers==3.6.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.2
django-filter==2.3.0
django-formtools==2.2
django-guardian==2.3.0
django-import-export==2.3.0
django-js-asset==1.2.2
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-redis==4.12.1
django-reversion==3.0.7
django-simple-captcha==0.5.12
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-extensions==0.6.0
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
httplib2==0.9.2
hyperlink==20.0.1
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
itypes==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
lxml==4.6.2
Markdown==3.2.2
MarkupPy==1.14
MarkupSafe==1.1.1
multidict==5.1.0
mysqlclient==2.0.1
npm==0.1.1
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.4
optional-django==0.1.0
parsel==1.6.0
Pillow==7.2.0
pipenv==2020.11.15
poyo==0.5.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.9
PyDispatcher==2.0.5
pygame==2.0.1
Pygments==2.7.4
PyHamcrest==2.0.2
PyJWT==1.7.1
PyMySQL==0.10.0
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
#pywin32==300
PyYAML==5.3.1
queuelib==1.5.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
Scrapy==2.4.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
soupsieve==2.2
sqlparse==0.3.1
tablib==2.0.0
text-unidecode==1.3
Twisted==20.3.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
vue==0.0.1
w3lib==1.22.0
Werkzeug==1.0.1
#xadmin @ https://codeload.github.com/sshwsfc/xadmin/zip/django2
xlrd==1.2.0
xlwt==1.3.0
yarl==1.6.3
zipp==3.1.0
zope.interface==5.2.0
